body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family: sans-serif;
}
header {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header* {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: #00d9ff;
    text-decoration: none;
}

body{ 
    background-color: #00d9ff;
}

h1 {
    font-weight: bold;
    color: rgb(243, 14, 186);
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: rgb(218, 66, 192); 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
em {    
    text-align: center;
}
h3 {
    color: darkviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
    color: darkviolet;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5 {
    color: purple;
    text-align: center;
}
h6 {
    color: purple;
    text-align: justify;
}
.aligncenter {
    text-align: center;
}
.smaller-image {
    width: 200px;
    border-color: violet;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
}


.myLinks {
list-style: none;
text-align: center;
}

.myLinks > li {
    margin: 2rem 0;
    padding: 1rem 1rem;
    background: black;
    color: black;
    border-radius: 10px;
}

.myLinks > li > a{
    color: white;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: justify;
    font-size: medium;
    font-family: sans-serif;
}

 #page-container {
     position: relative;
     min-height: 100vh;
 }   

 #content-wrap {
     padding-bottom: 2.5rem;
 }

 #footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 2.5rem;
     color: violet;
 }
