
body{ 
    background-color: lightcyan;
}
<style> 
h1 {
    font-weight: bold;
    color: darkorchid;
    font-size: 40px;
    text-align: center;
}
.smaller-image {
    width: 100px;
}

.thin-darkorchid-border {
    border-color: darkorchid;
    border-width: 5px;
    border-style: solid;
}
    
</style>
